.textos {
    width: 70%;
    margin: 2rem auto;

    .textos-main {
        width: 100%;
        font-size: 1.3rem;
        color: $color-letra-textos;
        font-family: $letra-textos;
        text-align: center;
        margin-top: 3rem;
    }
}