.titulos-principales {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-family: $letra-titulos;
    color: $color-letra-titu;
}

.subtitulos {
    width: 100%;
    font-size: 2rem;
    color: $color-letra-subtitu;
    font-family: $letra-subtit;
    text-align: center;
}