.titulos-principales {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
    color: #FFFFFF;
}

.subtitulos {
    width: 100%;
    font-size: 2rem;
    color: #C7D989;
    font-family: 'Anton', sans-serif;
    text-align: center;
}