@media only screen and (max-width:500px) {
    .titulos-principales {
        font-size: 1.2rem;
    }

    .imagen-afa-principal {
        width: 90%;
    }

    .textos {
        width: 90%;
    }

    .imagen-copa-america {
        width: 90%;
    }

    .imagen-festejos-qatar {
        width: 90%;
        margin: 1rem auto;
    }

    .grid-container {
        width: 90%;
        gap: 0.5rem;
    }

    .imagen-finalissima {
        width: 90%;
    }

    .subtitulos {
        font-size: 1.5rem;
    }

    .imagen-estadisticas-seleccion {
        width: 100%;
    }

    .imagen-estadisticas-total {
        width: 100%;
    }

    .video-messi-highlights {
        width: 100%;
    }

    .imagen-messi-festejo {
        width: 90%;
    }
}