//Variables
$color-letra-labels: #FFFFFF;

//Formulario
.formulario {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 2rem;

    .labels {
        color: $color-letra-labels;
    }
}