@mixin sizesAndMargin($width, $margin) {
    width: $width;
    margin: $margin;
}

//Imagen principal
.imagen-afa-principal {
    @include sizesAndMargin(80%, 2rem auto);

    img {
        width: 100%;
    }
}