.imagen-estadisticas-seleccion {
    width: 70%;
    margin: 1rem auto;

    img {
        width: 100%;
        margin-top: 1rem;
    }
}

.imagen-estadisticas-total {
    width: 70%;
    margin: 1rem auto;

    img {
        width: 100%;
        margin-top: 1rem;
    }
}

.video-messi-highlights {
    @extend .iframe-copa-america;
}