$letra-titulos: 'Sixtyfour', sans-serif;
$color-letra-titu: #FFFFFF;
$letra-subtit: 'Anton', sans-serif;
$color-letra-subtitu: #C7D989;
$letra-textos: 'Roboto', sans-serif;
$color-letra-textos: #FFFFFF;